body {
    background-image:  url(donuts.jpg);
    background-size:cover;
    height: 122vh;
    background-position:center;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    color: white;
}
.slider-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    overflow: hidden;
    border-radius: 30px;
    border: 2px solid white;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
}
.slide img{
    width: 1000px;
}
.manual-navigation{
    position: absolute;
    width: 1000px;
    margin-top: 130px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: white;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
#radio5:checked ~ .first{
    margin-left: -100%;
}
#radio6:checked ~ .first{
    margin-left: -125%;
}
#radio7:checked ~ .first{
    margin-left: -150%;
}
#radio8:checked ~ .first{
    margin-left: -175%;
}
.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}
.navigation-auto{
    position: absolute;
    width: 1000px;
    margin-top: 530px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: #fff;
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background-color: #fff;
}
#radio7:checked ~ .navigation-auto .auto-btn7{
    background-color: #fff;
}
#radio8:checked ~ .navigation-auto .auto-btn8{
    background-color: #fff;
}
.h1{
    margin-right: 250px;
    color: #ffd629;
    background-color: #5d2f20;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 20px #5d2f20;
}
.h2{
    color: #ffd629;
    background-color: #5d2f20;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 20px #5d2f20;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: -40px;
}
header{
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #ffd629;
    transform: scale(1.10);
}
header nav ul li{
    display: inline-block;
    padding: 0 20px;
}
.img2{
    display: block; /* Remova a largura de 50% para manter o tamanho original da imagem */
    margin: 0 auto;
    width: 50%;
    border-radius: 5%;
    box-shadow: 10px 10px 100px #aa8e78;
}
.main-footer{
    background-color: rgba(0, 0, 0, 0.808);
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    margin-top: 30px;
}
.part1{
    display: flex;
    justify-content: flex-start;
}
.part2{
    display: flex;
    justify-content: flex-end;
}
.main-footer .action{
    margin-left: 10px;
    margin-right: 10px;
}
.text-footer{
    width: 500px;
    font-size: 15px;
    padding: 30px 0px;
}
.footercont{
    text-align: end;
    margin-right: 30px;
    color: #ffd629;
}
.footericons{
    padding: 20px 0px;
    text-align: end;
}

